[project]
	description = this is my work place
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/luketseng
[access "refs/for/refs/*"]
	read = group user/luketseng
	push = group user/luketseng
	label-Code-Review = -2..+2 group user/luketseng
	label-Verified = -1..+1 group user/luketseng
	rebase = group user/luketseng
	removeReviewer = group user/luketseng
	submit = group user/luketseng
[access "refs/heads/*"]
	read = group user/luketseng
	create = group user/luketseng
	push = +force group user/luketseng
	pushMerge = group user/luketseng
[access "refs/tags/*"]
	push = group user/luketseng
	push = +force group user/luketseng
